@font-face {
    font-family: 'HancomMalangMalang-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2406-1@1.0/HancomMalangMalang-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

:root {
    --main-color: #151515;
    --sub-color: #00498c;
    --pale: #EEEEEE;
}

body {
    font-family: 'HancomMalangMalang-Regular';
    margin: 0;
    padding: 0;
    font-size: 16pt;
}

.wrapper {
    width: 1024px;
    margin: 10px auto;
}

button {
    font-family: 'HancomMalangMalang-Regular';
    width: 200px;
    height: 40px;
    border: none;
    background-color: var(--sub-color);
    color: var(--pale);
    font-size: 15pt;
}

input[type="text"] {
    font-family: 'HancomMalangMalang-Regular';
    border: none;
    border-bottom: 2px dotted var(--main-color);
    margin-right: 20px;
    width: 250px;
    height: 30px;
    font-size: 15pt;
}

input[type="text"]:focus {
    outline: 0;
    border-bottom: 2px solid var(--sub-color);
}

.color-view {
    display: grid;
    grid-template-rows: 1fr 50px;
    grid-template-columns: 1fr 1fr;
    margin-top: 25px;
}

.color-div1, .color-div2, .color-div3, .color-div4 {
    width: 500px;
    height: 300px;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.color-value1, .color-value2, .color-value3, .color-value4 {
    margin: 0 auto;
    font-size: 15pt;
    font-weight: bold;
}

.color1:nth-child(3) {
    font-weight:bold;
}

.color2:nth-child(3) {
    font-weight: bold;
}