@font-face {
    font-family: 'Rimgul';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2601-4@1.1/Limgul12.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

:root {
    --main-color: #09637E;
    --sub-color: #088395;
    --sub-color2: #7AB2B2;
    --pale-color: #EBF4F6;
    --black: #000000;
    --white: #fafafa;
    --gray: #999999;
}

html, body {
    font-family: 'Rimgul';
    font-size: 14pt;
    color: var(--main-color);
    background-color: var(--white);
    margin: 0;
    padding:0;
}

p {
    font-size: 1.1em;
    margin: 0;
    line-height: 1.1em;
    margin-bottom: 6px;
}

.wrapper {
    width: 70%;
    margin: 15px auto;
}

.color_input {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

.color_input > p {
    font-size: 1em;
    margin: 0 10px;
}

.palette_area {
    width: 90%;
    margin: 35px auto;
}

.palette_wrapper {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin: 35px 0;
}

.cmap_wrapper {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin: 35px 0;
}

.palette_wrapper > p {
    width: 175px;
}

.cmap_wrapper > p {
    width: 175px;
}

.palette {
    width: 100%;
    height: 100px;
    display:flex;
}

.cmap {
    width: 100%;
    height: 100px;
}

.palette_chip {
    width: calc(100% / 10);
    height: 100px;
}


input[type="text"] {
    font-family: inherit;
    font-size: 0.9em;
    color: var(--gray);
    background-color: var(--pale-color);
    width: 200px;
    height: 35px;
    border: none;
    border-bottom: 1px double var(--sub-color);
    margin: 0 15px;
}

input[type="text"]:focus {
    outline: none;
    background-color: var(--white);
    color: var(--main-color);
    border-bottom: 2px double var(--main-color);
}

button {
    font-family: inherit;
    font-size: 1.1em;
    width: 125px;
    height: 35px;
    margin: 0 10px;
    border-radius: 5px;
    background-color: var(--white);
    color: var(--main-color);
    border: 1px double var(--sub-color);
}
