@font-face {
    font-family: 'SF_HambakSnow';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'SF_HambakSnow';
}

h1 {
    text-align: center;
}

i {
    font-size: 30px;
}

.wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.card {
    width: 450px;
    height: 250px;
    background-color: #c5a4ae;
    color: #3a4277;
    text-align: center;
    margin: 5px;
    transition: 1s;
    opacity: 0;
    translate: -50% 0px;
}

.card:nth-child(2) {
    transition-delay: 1s;
}

.card:nth-child(3) {
    transition-delay: 2s;
}