@font-face {
    font-family: 'Ownglyph_corncorn-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2412-1@1.0/Ownglyph_corncorn-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Editor fonts */
@font-face {
    font-family: 'CHOGOONCHICKENSCRATCHV7';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2507-2@1.0/CHOGOONCHICKENSCRATCHV7.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'RIDIBatang';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Xcu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2506-1@1.0/exqt.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MabinogiClassicR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/MabinogiClassicR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ownglyph_okticon-Bd';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/Ownglyph_okticon-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SchoolSafetyOcarina';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2511-1@1.0/HakgyoansimOcarinaR.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ThinRounded';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2511-1@1.0/ThinDungGeunMo.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MissedSimsim';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2511-1@1.0/Griun_Simsimche-Rg.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

/* End */

:root {
    --main-color: #1e295a;
    --sub-color: #833500;
    --sub2-color: #F18F01;
    --pale-color: #F5ECD7;
    --black: #353535;
    --gray: #999999;
    --white: #ffffff;
}

html {
    font-family: 'Ownglyph_corncorn-Rg';
    margin: 0;
    padding: 0;
}

body {
    font-size: 13pt;
    color: var(--main-color);
    background: linear-gradient(135deg, var(--pale-color), var(--white));
}


::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    box-shadow: 1px 1px 1px var(--gray);
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(--pale-color);
    box-shadow: inset 1px 1px 1px var(--gray);
}

::-webkit-scrollbar {
    width: 7px;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}

.count {
    font-size: 0.85em;
    opacity: 0.9;
    color: var(--sub-color);
}

h1 {
    margin: 15px 0;
}

textarea {
    resize: none;
    width: 100%;
    font-family: inherit;
    font-size: 14pt;
    width: 90%;
    height: 620px;
    margin: 0 auto;
    color: var(--main-color);
    border: 1px solid var(--sub-color);
    line-height: 1.5em;
    border-radius: 5px;
    padding: 8px;
}

textarea:focus {
    outline: none;
    border: 1px dashed var(--main-color);
}

input[type=text] {
    width: 100%;
    height: 40px;
    font-family: inherit;
    font-size: 14pt;
    width: 90%;
    margin: 10px auto;
    color: var(--main-color);
    border: 1px solid var(--sub-color);
    border-radius: 5px;
    padding: 8px;
}

input[type=text]:focus {
    outline: none;
    border: 1px dashed var(--main-color);
}

input[type=file] {
    margin-left: 20px;
    width: 0;
    height: 0;
}

label {
    color: var(--main-color);
    border: 1px solid var(--main-color);
    background-color: var(--sub2-color);
    border-radius: 5px;
    padding: 9px;
    font-size: 14pt;
    box-shadow: 2px 2px 2px var(--gray);
}

select {
    width: 220px;
    height: 40px;
    font-family: inherit;
    font-size: 14pt;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    color: var(--main-color);
    background-color: var(--white);
    padding: 5px;
}

button {
    width: 110px;
    height: 65px;
    margin: 10px 15px 10px 0;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    background-color: var(--sub2-color);
    border-radius: 5px;
    box-shadow: 2px 2px 2px var(--gray);
}

button > i {
    font-size: 30pt;
}

.copied {
    display: flex;
    position: absolute;
    width: 270px;
    height: 65px;
    background-color: var(--sub2-color);
    color: var(--main-color);
    transition: .1s;
    top: -10%;
    right: 7%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 2px 2px 2px var(--gray);
}

.copied > p {
    font-size: 1.3em;
}

@media screen and (max-width: 1024px) {
    body {
        font-size: 0.85em;
    }

    .wrapper {
        width: 90%;
        margin: 0 auto;
    }

    .count {
        font-size: 1em;
    }

    input[type=text] {
        width: 100%;
    }
    textarea {
        width: 100%;
    }
}