@font-face {
    font-family: 'KnpsOdaesan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2510-2@1.0/KNPSOdaesan-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

:root {
    --main-color: #006159;
    --sub-color: #79bb6b;
    --black: #000;
    --white: #fff;
}

html {
    margin:0;
    padding:0;
}

body {
    font-family: 'KnpsOdaesan';
    color: var(--main-color);
    font-size: 14pt;
}

h1 {
    color: var(--black);
}

p {
    font-size: 1.0em;
    margin: 0;
}

.wrapper {
    width: 55%;
    margin: 0 auto;
    text-align: center;
}

input[type=text] {
    font-family: 'KnpsOdaesan';
    font-size: 1em;
    width: 200px;
    height: 33px;
    border-width: 0 0 1px;
    border-bottom: 1px dotted var(--main-color);
    margin: 10px;
}

input[type=text]:focus {
    outline: none;
    border-width: 0 0 1px;
    border-bottom: 1px solid var(--main-color);
}

input[type=checkbox] {
    margin-left: 15px;
    margin-right: 5px;
    accent-color: var(--main-color);
    width: 16px;
    height: 16px;
    line-height: 1.5em;
}

button {
    font-family: 'KnpsOdaesan';
    font-size: 1.1em;;
    width: 100px;
    height: 33px;
    line-height: 1.5em;
    border: none;
    background-color: var(--main-color);
    color: var(--sub-color);
    margin: 10px;
    border-radius: 5px;
}

.id {
    border: 2px dotted var(--sub-color);
    border-radius: 5px;
}

.input, .check {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.check {
    justify-content: center;
}

p > button {
    font-size: 1em;
    width: 80px;
    height: 27px;
    background-color: var(--sub-color);
    color: var(--main-color);
}